@font-face {
  font-family: "Montserrat";
  src: url(styles/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Ubuntu";
  src: url(styles/fonts/Ubuntu-Regular.ttf);
}
// * {
//   margin: 0;
// padding: 0;

// }
// .container {
//   background: rgb(239, 235, 235);
// }
