<mat-card>
  <button
    class="close"
    mat-icon-button
    aria-label="close dialog"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-dialog-content>
    <div class="user-top">
      <div class="img-container">
        <img src="../../../assets/images/CVslika.jpg" alt="" width="50px" />
      </div>
      <div class="heading">
        <h2 mat-dialog-title>Ime Prezime</h2>
        <span>47 sightings</span>
      </div>
    </div>
    <div class="user-bottom">
      <div class="info-group">
        <mat-label class="label">First Name</mat-label>
        <p>UserName</p>
      </div>
      <div class="info-group">
        <mat-label class="label">First Name</mat-label>
        <p>UserName</p>
      </div>
      <div class="info-group">
        <mat-label class="label">First Name</mat-label>
        <p>UserName</p>
      </div>
      <div class="info-group">
        <mat-label class="label">First Name</mat-label>
        <p>UserName</p>
      </div>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button id="logout" (click)="logout()">Logout</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</mat-card>
