<div class="container">
  <div class="container-1">
    <header>
      <div class="buttons">
        <button class="btn" id="preview">View on Google Maps</button
        ><button class="btn" id="report">Report</button>
      </div>
    </header>
    <div class="sighting-info">
      <div class="left">
        <img src="{{ sighting.picture }}" alt="" />
      </div>
      <div class="right">
        <div class="heading">
          <img
            src="../../../../assets/images/CVslika.jpg"
            width="50px"
            alt=""
          />
          <div class="text">
            <h3>{{ sighting.name }}</h3>
            <!-- <span>by {{ sighting.user["full_name"] }}</span> -->
          </div>
        </div>
        <div class="description">
          <p>
            {{ sighting.description }}
          </p>
        </div>
        <div class="comment-like">
          <p>{{ sighting.comments_count }} comments</p>
          <p>{{ sighting.likes_count }} Favorites</p>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-section">
    <div class="header">
      <h3>{{ sighting.comments_count }} Comments</h3>
      <button class="btn" id="addComment">Add Comment</button>
    </div>
    <div class="comments" *ngFor="let comm of sightingComments">
      <div class="comment">
        <div class="heading">
          <img
            src="../../../../assets/images/CVslika.jpg"
            width="50px"
            alt=""
          />
          <div class="text">
            <h3>{{ sighting.name }}</h3>
            <span> 4 days ago</span>
          </div>
        </div>
        <div class="comment-text">
          <p>
            {{ comm.content }}
          </p>
        </div>
      </div>
    </div>
    <div class="form">
      <form [formGroup]="commentForm" class="form" (ngSubmit)="onSubmit()">
        <textarea
          name="writeComment"
          id="writeComment"
          cols="30"
          rows="10"
          placeholder="Write a comment..."
          formControlName="comment"
        ></textarea>
        <button type="submit" name="publish">Publish Comment</button>
      </form>
    </div>
  </div>
</div>
