<div class="wrapp">
  <div class="input-container">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Looking for something specific?"
      [(ngModel)]="inputValue"
      (ngModelChange)="onSearchInputChange($event)"
    />
    <button mat-button matPrefix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="results" *ngIf="inputValue.length != 0">
    <div class="result" *ngFor="let res of searchResults">
      <p [routerLink]="[res.id]">{{ res.name }}</p>
    </div>
    <ng-template #loading> loading... </ng-template>
  </div>
</div>
