<mat-card>
  <h2 mat-dialog-title>Create an Account</h2>
  <mat-dialog-content>
    <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field>
          <mat-label for="firstName">First Name</mat-label>
          <input
            matInput
            type="text"
            name="firstName"
            id="firstName"
            class="input"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="lastName">Last Name</mat-label>
          <input
            matInput
            type="text"
            name="lastName"
            id="lastName"
            class="input"
            formControlName="lastName"
          />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label for="dateOfBirth">Date of Birth</mat-label>
        <input
          matInput
          type="date"
          name="dateOfBirth"
          id="dateOfBirth"
          class="input"
          formControlName="dateOfBirth"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          id="password"
          class="input"
          formControlName="password"
        />
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-raised-button id="tegister">Create Account</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</mat-card>
