<mat-card>
  <h2 mat-dialog-title>Create an Account</h2>
  <mat-dialog-content>
    <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field>
          <mat-label for="first_name">First Name</mat-label>
          <input
            matInput
            type="text"
            name="firstName"
            id="first_name"
            class="input"
            formControlName="first_name"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="last_name">Last Name</mat-label>
          <input
            matInput
            type="text"
            name="lastName"
            id="last_name"
            class="input"
            formControlName="last_name"
          />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label for="date_of_birth">Date of Birth</mat-label>
        <input
          matInput
          type="date"
          name="dateOfBirth"
          id="date_of_birth"
          class="input"
          formControlName="date_of_birth"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          id="password"
          class="input"
          formControlName="password"
        />
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-raised-button id="tegister">Create Account</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</mat-card>
<div class="close-dialog">
  <p (click)="closeDialog()">I dont want to register</p>
</div>
