<div class="header">
  <div class="empty"></div>
  <div class="text">
    <h2>Sighting List</h2>
    <span>Explore between more than 8427 sightings</span>
  </div>
  <button class="btn btn-1" [routerLink]="['/new-sighting']">
    + Add New Sighting
  </button>
</div>
<div class="row">
  <div class="col-3" *ngFor="let sighting of sightings">
    <app-sightings [sighting]="sighting"></app-sightings>
  </div>
</div>
<div class="btn-container">
  <button class="btn btn-2" [routerLink]="['/new-sighting']">
    + Add New Sighting
  </button>
</div>
